<div class="jumbotron">
    <h2> Bookings from <%= @today %> to <%= @tomorrow %> </h2>
</div>
<div class="jumbotron jumbotron-form">
    <%= timeline @datatoday, height: "200px"%>
</div>
<div class="jumbotron">
    <h2> Bookings from <%= @tomorrow %> to <%= @twodayslater %> </h2>
</div>
<div class="jumbotron jumbotron-form">
    <%= timeline @datatomorrow, height: "200px" %>
</div>