<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="jumbotron jumbotron-form text-align-left">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <%= form.label :user_id %>
          <% options = options_from_collection_for_select(User.all, 'id', 'name') %>  
          <%= form.select :user_id, options, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
        </div>
      </div>
      
      <div class="col-sm-3">
        <div class="form-group">
          <%= form.label :room_id %>
          <% options = options_from_collection_for_select(Room.all, 'id', 'location') %>
          <%= form.select :room_id, options, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <%= form.label :startdate %>
          <%= form.datetime_select :startdate, { order:[:day,:month,:year] }, { class: "form-control" } %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <%= form.label :enddate %>
          <%= form.datetime_select :enddate, { order:[:day,:month,:year], default: 30.minutes.from_now }, { class: "form-control" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit class: "btn btn-sm btn-primary text-dark" %>
  </div>
<% end %>
