<p id="notice"><%= notice %></p>

<h1>Bookings</h1>

<table id="green-table">
  <thead>
    <tr>
      <th>Users</th>
      <th>Rooms</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.users_id %></td>
        <td><%= booking.rooms_id %></td>
        <td><%= booking.startdate %></td>
        <td><%= booking.enddate %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
