<p id="notice"><%= notice %></p>

<div class="jumbotron jumbotron-form text-align-left">
  <div class="row">
    <div class="col-sm-3">
      <strong>Booking Name:</strong>
      <%= @booking.user.name %>
    </div>

    <div class="col-sm-2">
      <strong>User Department:</strong>
      <%= @booking.user.department %>
    </div>

    <div class="col-sm-2">
      <strong>Location:</strong>
      <%= @booking.room.location %>
    </div>

    <div class="col-sm-2">
      <strong>Capacity:</strong>
      <%= @booking.room.capacity %>
    </div>

    <div class="col-sm-3">
      <strong>Classification:</strong>
      <%= @booking.room.classification %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <strong>Startdate:</strong>
      <%= @booking.startdate %>
    </div>

    <div class="col-sm-3">
      <strong>Enddate:</strong>
      <%= @booking.enddate %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_booking_path(@booking), class: "btn btn-sm btn-primary text-dark" %> 
<%= link_to 'Back', bookings_path, class: "btn btn-sm btn-primary text-dark" %>
