<p id="notice"><%= notice %></p>

<p>
  <strong>Booking Name:</strong>
  <%= @booking.user.name %>
</p>

<p>
  <strong>User Department:</strong>
  <%= @booking.user.department %>
</p>

<p>
  <strong>Location:</strong>
  <%= @booking.room.location %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @booking.room.capacity %>
</p>

<p>
  <strong>Classification:</strong>
  <%= @booking.room.classification %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @booking.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @booking.enddate %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
