<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="jumbotron jumbotron-form text-align-left">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name , { class: "form-control" }%>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :department %>
          <%= form.text_field :department , { class: "form-control" }%>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-sm btn-primary text-dark" %>
  </div>
<% end %>
