<p id="notice"><%= notice %></p>

<div class="jumbotron">
  <h1>Users</h1>
</div>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th>Name</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.department %></td>
        <td><%= link_to 'Show', user, class:"btn text-secondary btn-sm btn-primary" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class:"btn text-secondary btn-sm btn-primary" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn text-secondary btn-sm btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class:"btn text-secondary btn-sm btn-primary" %>
<br>
<%= link_to("Back to main", { controller: "bookings", action: "app_index" }, class:"btn text-secondary btn-sm btn-primary") %>
