<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h4>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="jumbotron jumbotron-form text-align-left">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :location %>
          <%= form.text_field :location , { class: "form-control" } %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :capacity %>
          <%= form.text_field :capacity, { class: "form-control" }%>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <%= form.label :classification %>
          <%= form.select :classification, ["unclassified","restricted","classified"], {}, {required: 'true', autofocus: 'true', class: 'form-control'}%>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-sm btn-primary text-dark" %>
  </div>
<% end %>
