<p id="notice"><%= notice %></p>
<div class="jumbotron jumbotron-form text-align-left">
  <div class="row">
    <div class="col-sm-3">
      <strong>Location:</strong>
      <%= @room.location %>
    </div>

    <div class="col-sm-3">
      <strong>Capacity:</strong>
      <%= @room.capacity %>
    </div>

    <div class="col-sm-3">
      <strong>Classification:</strong>
      <%= @room.classification %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_room_path(@room), class: "btn btn-sm btn-primary text-dark" %>
<%= link_to 'Back', rooms_path, class: "btn btn-sm btn-primary text-dark" %>
